body {
  /*body: correct errors*/
  font-size: 14px;
}

nav {
  /*nav: soften color from yellow to match tints of others;
  correct errors*/
  background-color: #FFFF76;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  /*h1: correct errors*/
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  /*.example, h3: correct errors*/
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  /*soften color from green for legibility
  tried white font on green but was hard to read;
  correct errors */
  background-color: #69B270;
  height: 100px;
  margin: 10px;
  width: 100%;
}

.feature {
  /*.feature: add background color*/
  background-color: #79A4EF;

}
